@mixin destroy-list {
    padding: 0px;
	list-style-type: none;
}

@mixin border-bottom {
	border-bottom: 1px solid $c-grey;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

@mixin userwrittencontent {
	font-family: "Roboto Slab";
	border: 0px;

	* {
		padding: 0;
		margin: 0;
	}
	a {
		text-decoration: none;
		color: $c-link;
	}
}