@import "vars";
@import "mixins";
@import "normalize";
@import "base";
body {
	font-family: "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
	color: $c-default;

	max-width: 1170px;
	width: 100%;
	margin: 0px auto;

	nav {
		@include border-bottom;
		
		div#logo-wrapper {
			float: left;
			div#logo {
				margin-left: 0px;
			}
		}
		ul {
			@include destroy-list;
			padding-left: 1em;

			float: left;
			line-height: 62px;
			
			li {
				display: inline;
				margin-left: 1em;
				a {
					color: $c-link;
			    	text-decoration: none;
				}
			}
		}
	}

	input, textarea {
		border: 1px solid $c-grey;
	}

	#title {
		h2 {
			display: inline-block;
			line-height: 1.5em;
		}
		code {
			float: right;
			line-height: 36px;
			margin: 19px 0px;
			font-size: 30px;
			font-family: "Roboto Slab", "Georgia", "Times", sans-serif;
		}
	}
	table {
		width: 100%;

		tr {
			@include border-bottom;

			th, td {
				padding: 1em 0;
			}
			td.label {
				width: 30%;
			}
			td#description-raw, td#description-markdown-interpreted {
				width: 35%;

				textarea {
					@include userwrittencontent;
					padding: 1em 0.5em;
					width: 100%;
					box-sizing: border-box;
					border: 1px solid $c-grey;
				}
			}
			td#description-markdown-interpreted {
				padding: .5em 1em;
				vertical-align: top;
			}


			.title {
			    width: 30%;
			}

			.dates {
			    width: 200px;
			}
			
			.action {
			    width: 100px;
			    a {
			    	color: $c-link;
			    	text-decoration: none;
			    	i {
			    		color: $c-default;
			    		padding-right: .5em;
			    	}
			    }
			}

			input {
				&[type="text"], &[type="date"] {
					padding: 1em 0.5em;
					width: 100%;
					box-sizing: border-box;
				}

				&#title {
					font-size: 20px;
				    font-weight: bolder;
				    text-transform: capitalize;
				}
			}
		}
	}

	tr.text-right {
		text-align: right;
		input[type="submit"] {
			margin-top: 2em;
			float: right;
			padding: 0.7em;
			background-color: white;
		}
	}
}