@import "vars";
@import "mixins";
@import "normalize";
@import "base";

html, body {
	font-family: "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
	height: 100%;
	color: $c-default;

	div.wrapper {
		display: flex;
		flex-direction: row;
		height: 100%;

		&>* {
		 	height: 100%;
		 }

		div#sidebar {
			flex-grow: 1;
			width: 290px;
			height: 100%;
			overflow-y: auto;

			div#logo-wrapper {
				@include border-bottom;
			}

			ul#trippoints {
				@include destroy-list;
				display: block;

				li.trip {
					margin: 0px 0em 1em;
					padding: 0px 1em 1em;

					.collapse {
						display: none;
					}
					.collapse.in {
						display: block;
					}
					.collapsing {
						position: relative;
						height: 0;
						overflow: hidden;
						-webkit-transition: height .35s ease;
						     -o-transition: height .35s ease;
						        transition: height .35s ease;
					}
					
					@include border-bottom;

					&> a {
						color: $c-default;
						border-bottom: 0px solid transparent; 
						text-decoration: none;

						.dest {
						    font-size: 20px;
						    font-weight: bolder;
						    text-transform: capitalize;
						}

						.time {
						    font-weight: 300;
						    font-size: 14px;

						    float: right;
							vertical-align: baseline;
							margin-top: 5px;
							width: 90px;
							text-align: right;
						}
					}
					blockquote {
						@include userwrittencontent;

						margin: 1em 0px;
						line-height: 1.4em;
						font-style: italic;
						
					}
					
					h3 {
					    margin: 0px 0px 0.3em;
					}

					ul.friends {
						@include destroy-list;
						li {
							display: inline;
							
							padding-right: 0.3em;
							padding-bottom: 0.3em;
							
							&:first-child {
								padding-left: 0.3em;
							}

							&:last-child {
								padding-right: 0px;
							}
							
							&.hidden {
								display: none;
							}
							&:nth-child(4n) {
								@include clearfix;
							}
							
							.box {
								width: 48px;
								border-radius: 0.2em;
								height: 48px;
							}
							&.get-more {
							    line-height: 48px;
							
								.get-more-box.fa.fa-ellipsis-h {
									line-height: 48px;
								    vertical-align: top;
								    text-align: center;
								    background-color: $c-default;
								    color: white;
								}
							}
						}
					}
				}
			}

			footer {
				@include userwrittencontent;
				margin: 0 1em 1em;
				font-size: 0.8em;
				line-height: 1.4em;
			}
		}
		#map_canvas {
			height: 100%;
			background-color: $c-highlight;
			flex-grow: 7;
			width: calc(100% - 290px);
		}
	}
}

::-moz-selection { background: $c-highlight; }
::selection { background: $c-highlight; }

@media screen and (max-width: 466px) {
	#sidebar {
		width: 100% !important;
	}

	#map_canvas {
		display: none !important;
	}
	ul.friends li {
		&:first-child {
			padding-left: 0px !important;
		}
		&:nth-child(4n):after {
			content: "" !important;
			display: none !important;
		}
	}
}